[project]
	description = OpenMRS API and web application code
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Raimund Klein (Chessray)
[access "refs/for/refs/*"]
	read = group user/Raimund Klein (Chessray)
	push = group user/Raimund Klein (Chessray)
	label-Code-Review = -2..+2 group user/Raimund Klein (Chessray)
	label-Verified = -1..+1 group user/Raimund Klein (Chessray)
	rebase = group user/Raimund Klein (Chessray)
	removeReviewer = group user/Raimund Klein (Chessray)
	submit = group user/Raimund Klein (Chessray)
[access "refs/heads/*"]
	read = group user/Raimund Klein (Chessray)
	create = group user/Raimund Klein (Chessray)
	push = +force group user/Raimund Klein (Chessray)
	pushMerge = group user/Raimund Klein (Chessray)
[access "refs/tags/*"]
	push = +force group user/Raimund Klein (Chessray)
	pushTag = group user/Raimund Klein (Chessray)
	pushSignedTag = group user/Raimund Klein (Chessray)
